{% extends 'base/root.html' %}

{% block title %}reviews | things i made{% endblock %}

{% block nav %}word combiner{% endblock %}
{% block reviews %}[ reviews ]{% endblock %}

{% block content %}
  <article class="cf ph3 ph6-m ph7-l pv4">
    <header class="mb2">
      <h1 class="f2 fw9 mb1 mt0">
        {{ review.title }}
      </h1>
      <time class="f6 ttu tracked gray">
        {{ review.date }}
      </time>
    </header>
    <div class="fn f6 fl-ns" id="content">
      {{ review.render|safe }}
    </div>
  </article>
{% endblock %}