{% extends 'base/root.html' %}

{% block title %}reviews | things i made{% endblock %}

{% block nav %}word combiner{% endblock %}
{% block reviews %}[ reviews ]{% endblock %}

{% block content %}
<section class="pa3 pa4-m pa5-l">
  {% for review in reviews %}
  	<a href="{{ review.slug }}" class="fl w-100 w-50-ns pa3 ph5-ns bg-near-white tc link" style="background: url({{ review.backdrop }});">
  		<h1 class="b white">{{ review.title }}</h1>
  	</a>
  {% empty %}
    <b class="db f4 mb1">No reviews have been written yet!</b>
  {% endfor %}
</section>
{% endblock %}