{% extends 'base/root.html' %}

{% block title %}stats | things i made{% endblock %}

{% block nav %}104% accurate{% endblock %}
{% block stats %}[ stats ]{% endblock %}

{% block content %}
    <article>
        <h2 class="f4 fw6">Recently listened</h2>
        <div class="cf pa2">
            {% for album in albums %}
            <div class="fl w-50 w-25-m w-20-l pa2">
              <a href="{{ album.url }}" target="_blank" rel="noopener noreferrer" class="db link dim tc">
                <img src="{{ album.cover }}" width="300px" class="w-100 db outline black-10"/>
                <dl class="mt2 f6 lh-copy">
                  <dd class="ml0 black truncate w-100">{{ album.name }}</dd>
                  <dd class="ml0 gray truncate w-100">{{ album.artist }}</dd>
                </dl>
              </a>
            </div>
            {% endfor %}
        </div>
    </article>
    <article>
        <h2 class="f4 fw6">Steam titles played in the last 2 weeks</h2>
        <div class="cf pa2">
            {% for _, game in games.items %}
            <div class="fl w-50 w-25-m w-20-l pa2">
              <a href="{{ game.url }}" target="_blank" rel="noopener noreferrer" class="db link dim tc">
                <img src="{{ game.banner }}" class="w-100 db outline black-10"/>
                <dl class="mt2 f6 lh-copy">
                  <dd class="ml0 black truncate w-100">{{ game.name }}</dd>
                  <dd class="ml0 gray truncate w-100">{{ game.playtime }}</dd>
                </dl>
              </a>
            </div>
            {% endfor %}
        </div>
    </article>
{% endblock %}