/* General */

.pushback {
  padding-top: 4rem;
}

/* Blog */

.blog-entry {
	padding-bottom: .8rem;
}

.nsfw {
	color: red;
}

/* Stats */
#books {
  margin-bottom: 2rem;
}

#films, #games, #music, #shows {
	margin-bottom: 2rem;
	margin-top: 2rem;
}