/* Globals */

* {
    color: #000;
    font-family: 'NTR', Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
}

/* Navbar */

nav a.b {
    font-size: 1.2em;
}

/* Post Detail */

.meta p {
    font-style: italic;
}