{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#F92672">

	<link href="{% static 'shared/css/spectre.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'shared/css/style.css' %}" rel="stylesheet" type="text/css" />	
</head>
<body>
	<div class="container">
		<div class="columns">
			<div class="column">
				<header class="navbar mt-2 ml-2 mr-2">
				  <section class="navbar-section">
				    <a href="#" class="navbar-brand btn btn-link">{% block nav %}{% endblock %}</a>
				  </section>
				  <section class="navbar-section">
				  	<a href="/" class="btn btn-link">{% block home %}home{% endblock %}</a>
		  			<a href="/blog" class="btn btn-link">{% block blog %}blog{% endblock %}</a>
		  			<a href="/stats" class="btn btn-link">{% block stats %}stats{% endblock %}</a>
				  </section>
				</header>
			</div>
		</div>
	</div>
	{% block content %}
	{% endblock %}
</body>
</html>