{% extends 'base/root.html' %}

{% block title %}{{ post.title }} | utf9k{% endblock %}

{% block content %}
  <article class="cf ph3 ph5-ns pv5">
    <header class="fn fl-ns w-50-ns pr4-ns">
      <h1 class="mb3 mt0 lh-title">{{ post.title }}</h1>
      <time class="f6 gray">
        {% if post.status == "P" %}
          {{ post.date }}
        {% elif post.date != "P" and post.date != None %}
          {{ post.get_status_display }} | {{ post.date }}
        {% else %}
          {{ post.get_status_display }}
        {% endif %}
      </time>
    </header>
    <div class="fn f6 fl-ns w-50-ns" id="content">
      {{ post.render|safe }}
  </article>
{% endblock %}

{% if post.head %}
  {% block head %}
    {{ post.head|safe }}
  {% endblock %}
{% endif %}

{% if post.foot %}
  {% block foot %}
    {{ post.foot|safe }}
  {% endblock %}
{% endif %}