{% extends 'base/root.html' %}

{% block title %}{{ post.title }} | utf9k{% endblock %}

{% block content %}
  <article class="measure center">
    <header>
      <h1 class="b" id="title">{{ post.title }}</h1>
      <div class="meta">
        {% if post.status not in "P" %}
        <p id="status">Status: {{ post.get_status_display }}</p>
        {% else %}
          {% if post.date %}
          <p id="published_date">This post was written {{ post.time_since }}</p>
          {% endif %}
        {% endif %}
      </div>
    </header>
    <section>
      {{ post.render|safe }}
    </section>
  </article>
{% endblock %}

{% if post.head %}
  {% block head %}
    {{ post.head|safe }}
  {% endblock %}
{% endif %}

{% if post.foot %}
  {% block foot %}
    {{ post.foot|safe }}
  {% endblock %}
{% endif %}