{% extends 'base.html' %}

{% block title %}utf9k{% endblock %}

{% block nav %}utf9k{% endblock %}
{% block blog %}[ blog ]{% endblock %}

{% block content %}
<section class="pa3 pa4-m pa5-l">
  {% for year, items in posts.items() %}
    <h4 class="f6 fw6">{{ year }}</h4>
    {% for post in items %}
    <dl class="f6 lh-title mv2">
    	<dt class="dib ml0 gray">{{ post.date }}</dt>
    	<dd class="dib red">
    		<a class="b link" href="{{ year }}/{{ post.slug }}">
    			{{ post.title }}
    		</a>
    		{% if not post.sfw %}
    		nsfw
    		{% endif %}
    	</dd>
    </dl>
    {% endfor %}
  {% else %}
    <b class="db f4 mb1">No posts have been written yet!</b>
  {% endfor %}
</section>
{% endblock %}