{% extends 'shared/base.html' %}

{% block title %}stats | things i made{% endblock %}

{% block nav %}104% accurate{% endblock %}
{% block stats %}[ stats ]{% endblock %}

{% block content %}
<div class="container col-11 pushback">
  <div id="books">
    <p>Books I'm (very slowly) reading</p>
    <div class="columns">
      {% for book in books %}
      <div class="column col-2 col-md-4 col-sm-12">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="{{ book.image }}" alt="The cover for {{ book.name }}">
          </div>
          <div class="card-header">
            <div class="card-title">{{ book.name }}</div>
            <div class="card-subtitle text-gray">{{ book.author }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="films">
    <p>Films I've recently watched</p>
    <div class="columns">
      {% for movie in movies %}
      <div class="column col-2 col-md-4 col-sm-12">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="{{ movie.image }}" alt="The poster for {{ movie.name }}">
          </div>
          <div class="card-header">
            <div class="card-title">{{ movie.name }}</div>
            <div class="card-subtitle text-gray">{{ movie.year }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="games">
    <p>Games I'm currently playing</p>
    <div class="columns">
      {% for game in games %}
      <div class="column col-2 col-md-4 col-sm-12">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="{{ game.image }}   " alt="Box art for {{ game.name }}">
          </div>
          <div class="card-header">
            <div class="card-title">{{ game.name }}</div>
            <div class="card-subtitle text-gray">{{ game.platform }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="music">
    <p>Music I've recently listened to</p>
    <div class="columns">
    {% for song in music %}
    <div class="column col-2 col-md-4 col-sm-12">
      <div class="card">
        <div class="card-image">
          <img class="img-responsive" src="{{ song.image }}" alt="Art for the album that {{ song.name }} appears in">
        </div>
        <div class="card-header">
          <div class="card-title">{{ song.name }}</div>
          <div class="card-subtitle text-gray">{{ song.artist }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>

  <div id="shows">
    <p>TV series I've recently watched</p>
    <div class="columns">
      {% for show in shows %}
      <div class="column col-2 col-md-4 col-sm-12">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="{{ show.image }}" alt="A still from {{ show.series }}">
          </div>
          <div class="card-header">
            <div class="card-title">{{ show.name }}</div>
            <div class="card-subtitle text-gray">{{ show.series }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}