{% extends 'shared/base.html' %}

{% block title %}404 | things i made{% endblock %}

{% block nav %}you weren't meant to see this{% endblock %}

{% block content %}
  <div class="ph5 pv6 black-70">
    <h1>Howdy stranger, <pre class="dib mt0 mb0">404 Page Not Found</pre>, huh?</h1>
    <p>Sorry but it looks <span style="color: #f92672;">request_uri</span> isn't here anymore?</p>
    <p>Perhaps it was never here to begin with?</p>
    <p>You're welcome to try something else instead!</p>
  </div>
{% endblock %}