{% extends 'shared/base.html' %}

{% block title %}500 internal server error{% endblock %}

{% block nav %}#{% endblock %}
{% block navlink %}/{% endblock %}

{% block content %}
<div class="container col-11 pushback">
  <div class="columns">
    <div class="column">
      <h1>ERROR 500 server machine broke</h1>
      <p>Woops, whatever we just tried to do just failed horribly!</p>
      <p>I'd appreciate it if you give me a heads up via my <a href="/contact">contact</a> page</p>
    </div>
  </div>
</div>
{% endblock %}
