{% extends 'blog/base.html' %}

{% block nav %}#{% endblock %}
{% block navlink %}/{% endblock %}

{% block content %}
  <div class="ph5 pv6 black-70">
    <p>Oh, hello there!</p>

    <p>Don't just sit there, click something!</p>

    <p>I can't click it for you, short of installing malware or something, haha.</p>

    <p>If you like videogames, maybe check out some old reviews or if you're more technologically inclined, check out some <a href="/projects">projects</a> or my <a href="/blog">blog</a>.</p>

    <p>You can also view the source code of this entire site <a href="https://github.com/marcus-crane/site">here</a> on Github!</p>

    <p>What, did you expect 10MB+ of Javascript spaghetti? Heck no, this site is made with love :)</p>

    <p>Enjoy!</p>
  </div>
{% endblock %}
