{% load static %}
<html>
    <head>
        <title>{% block title %}utf9k{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#317EFB" />
        <link href="{% static 'base/tachyons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=NTR" type="text/css" rel="stylesheet" />
        <link href="{% static 'base/tippy.css' %}" type="text/css" rel="stylesheet" />
        <link href="{% static 'base/style.css' %}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <nav class="pa3">
            <a class="link hover-hot-pink b f6 f5-ns dib mr3" href="{% block navlink %}{% url 'blog:list' %}{% endblock %}" title="Home">{% block nav %}utf9k{% endblock %}</a>
            <a class="link hover-red f6 f5-ns dib mr3" href="/" title="root">home</a>
            <a class="link hover-red f6 f5-ns dib mr3" href="/projects" title="About">projects</a>
            <a class="link hover-red f6 f5-ns dib mr3" href="/blog" title="About">blog</a>
            <a class="link hover-red f6 f5-ns dib mr3" href="/about" title="About">reviews</a>
            <a class="link hover-red f6 f5-ns dib" href="/contact" title="Contact">contact</a>
        </nav>
        <section class="pa3 bt b--black-10 black-70">
            {% block content %}
            {% endblock %}
        </section>
        <!-- {% include 'base/footer.html' %}
        <script src="{% static 'blog/tippy.min.js' %}"></script>
        <script>tippy('.tip', { arrow: true, interactive: true, theme: 'light' })</script> -->
    </body>
</html>
