{% load static %}
<html>
    <head>
        <title>{% block title %}utf9k{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#317EFB" />
        <link href="{% static 'base/tachyons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'base/style.css' %}" type="text/css" rel="stylesheet" />
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="db dt-ns mw9 center w-100">
            <div class="pa3 pl3 db dtc-ns v-mid tl w-50">
                <a class="link hover-hot-pink b f6 f5-ns dib">{% block nav %}utf9k{% endblock %}</a>
            </div>
            <div class="pa3-ns pl3 pr3 pb3 pr3 db dtc-ns v-mid w-100 tl tr-ns mt2-ns mt0">
                <a class="f6 fw6 hover-blue link mr2 dib" href="/" title="right back to the start">{% block home %}home{% endblock %}</a>
                <!-- <a class="f6 fw6 hover-blue link mr2 dib" href="/projects" title="things i literally made">{% block projects %}projects{% endblock %}</a> -->
                <a class="f6 fw6 hover-blue link mr2 dib" href="/blog" title="words and letters">{% block blog %}blog{% endblock %}</a>
                <!-- <a class="f6 fw6 hover-blue link mr2 dib" href="/reviews" title="i think these are good opinions">{% block reviews %}reviews{% endblock %}</a> -->
                <a class="f6 fw6 hover-blue link mr2 dib" href="/stats" title="see what i've been up to">{% block stats %}stats{% endblock %}</a>
                <a class="f6 fw6 hover-blue link mr2 dib" href="/contact" title="get in touch!">{% block contact %}contact{% endblock %}</a>
            </div>
        </nav>
        <section class="pa3 bt b--black-10 black-70">
            {% block content %}
            {% endblock %}
        </section>
        {% block foot %}
        {% endblock %}
    </body>
</html>
