{% extends 'base/root.html' %}

{% block title %}projects | things i made{% endblock %}

{% block nav %}cool stuff{% endblock %}
{% block projects %}[ projects ]{% endblock %}

{% block content %}
  <article class="measure center">
    <header>
      <h1 class="b" id="title">{{ project.title }}</h1>
      <div class="meta">
        {% if project.date %}
        <p id="published_date">Started {{ project.date.year }}</p>
        {% endif %}
      </div>
    </header>
    <section>
      {% autoescape off %}
        {{ project.render }}
      {% endautoescape %}
    </section>
  </article>
{% endblock %}
