{% extends 'base/root.html' %}

{% block title %}projects | things i made{% endblock %}

{% block nav %}cool stuff{% endblock %}
{% block projects %}[ projects ]{% endblock %}

{% block content %}
  <ul class="list pl0">
    {% for project in projects %}
    <li class="pa3 pa4-ns bb b--black-10">
      <a href="{{ project.slug }}">
        <b class="db f3 mb1">
          {{ project.title }}
        </b>
      </a>
      <span class="f5 db lh-copy measure">
        {{ project.summary }}
      </span>
    </li>
    {% empty %}
    <b class="db f3 mb1">Hmm, no projects have been published yet!</b>
    {% endfor %}
  </ul>
{% endblock %}