{% load static %}
<html>
    <head>
        <title>{% block title %}utf9k{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'blog/tachyons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=NTR" type="text/css" rel="stylesheet" />
        <link href="{% static 'blog/tippy.css' %}" type="text/css" rel="stylesheet" />
        <link href="{% static 'blog/style.css' %}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        {% include "blog/nav.html" %}
        <section class="pa3 bt b--black-10 black-70">
            {% block content %}
            {% endblock %}
        </section>
        {% include "blog/footer.html" %}
        <script src="{% static 'blog/tippy.min.js' %}"></script>
        <script>tippy('.tip', { arrow: true, interactive: true, theme: 'light' })</script>
    </body>
</html>
