{% extends 'base.html' %}

{% block title %}stats | things i made{% endblock %}

{% block nav %}104% accurate{% endblock %}
{% block stats %}[ stats ]{% endblock %}

{% block content %}
  <article>
    <h2 class="f4 fw6">📚 books://currently_reading</h2>
    <div class="cf pa2">
          {% for book in books %}
          <dl class="mt2 f6 lh-copy">
            <dd class="ml0 black truncate w-100">{{ book.name }} by {{ book.author }}</dd>
          </dl>
    {% endfor %}
    </div>
  </article>
  <article>
    <h2 class="f4 fw6">🎬 movies://last_watched</h2>
    <div class="cf pa2">
      {% for movie in movies %}
      <div class="fl w-50 w-25-m w-20-l pa2">
        <a href="{{ movie.link }}" target="_blank" rel="noopener noreferrer" class="fl w-50 w-25-l link overflow-hidden hide-child">
          <img src="{{ movie.image }}" width="500px" class="w-100 db outline black-10">
          <dl class="mt2 f6 lh-copy">
                <dd class="ml0 black truncate w-100">{{ movie.name }} ({{ movie.year }})</dd>
              </dl>
        </a>
      </div>
      {% endfor %}
    </div>
  </article>
  <article>
      <h2 class="f4 fw6">🎵 music://last_heard</h2>
      <div class="cf pa2">
          {% for song in songs %}
          <div class="fl w-50 w-25-m w-20-l pa2">
            <a href="{{ song.link }}" target="_blank" rel="noopener noreferrer" class="db link dim tc">
              <img src="{{ song.image }}" width="300px" class="w-100 db outline black-10"/>
              <dl class="mt2 f6 lh-copy">
                <dd class="ml0 black truncate w-100">{{ song.name }}</dd>
                <dd class="ml0 gray truncate w-100">{{ song.artist }}</dd>
              </dl>
            </a>
          </div>
          {% endfor %}
      </div>
  </article>
  <article>
      <h2 class="f4 fw6">🕹 steam://last_2_weeks</h2>
      <div class="cf pa2">
          {% for game in games %}
          <div class="fl w-50 w-25-m w-20-l pa2">
            <a href="{{ game.link }}" target="_blank" rel="noopener noreferrer" class="db link dim tc">
              <img src="{{ game.image }}" class="w-100 db outline black-10"/>
              <dl class="mt2 f6 lh-copy">
                <dd class="ml0 black truncate w-100">{{ game.name }}</dd>
                <dd class="ml0 gray truncate w-100">{{ game.playtime }}</dd>
              </dl>
            </a>
          </div>
          {% else %}
          <h2>I haven't played any steam games in the last 2 weeks :(</h2>
          {% endfor %}
      </div>
  </article>
  <article>
      <h2 class="f4 fw6">📺 tv://last_watched</h2>
      <div class="cf pa2">
          {% for show in shows %}
          <div class="fl w-50 w-25-m w-20-l pa2">
            <a href="{{ show.link }}" target="_blank" rel="noopener noreferrer" class="db link dim tc">
              <img src="{{ show.image }}" height="143px" width="256px" class="w-100 db outline black-10"/>
              <dl class="mt2 f6 lh-copy">
                <dd class="ml0 black truncate w-100">{{ show.name }}</dd>
                <dd class="ml0 gray truncate w-100">{{ show.series }}</dd>
              </dl>
            </a>
          </div>
          {% endfor %}
      </div>
  </article>
{% endblock %}