{% extends 'base.html' %}

{% block title %} contact | things i made{% endblock %}

{% block nav %}cyber phonebooth{% endblock %}
{% block contact %}[ contact ]{% endblock %}

{% block content %}
<form class="pa4 black-80" method="POST" action="/contact/">
	<legend class="f4 fw6 ph0 mh0">Got some feedback or perhaps a compliment?</legend>
	<small class="f6 black-60 db mb2">Note: Hitting send may take a wee bit to fire off your message</small>
	</br>
	<div class="measure">
		<label for="name" class="f6 b db mb2">Name</span></label>
		<input id="name" name="name" placeholder="Dale Cooper" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
		<small id="name-desc" class="f6 black-60 db mb2">I'd like to know who I'm reply to</small>
	</div>
	<br />
	<div class="measure">
		<label for="email" class="f6 b db mb2">Email Address</label>
		<input id="email" name="email" placeholder="douglasfirsniffer315@fbi.gov" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="email" aria-describedby="email-desc">
		<small id="email-desc" class="f6 black-60 db mb2">You gotta let me know where to send my reply as well</small>
	</div>
	<br />
	<div>
		<label for="message" class="f6 b db mb2">Message</label>
		<textarea id="message" name="message" placeholder="Doc, when the will is invoked, the recuperative powers of the physical body are simply extraordinary." class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2" aria-describedby="message-desc"></textarea>
		<small id="message-desc" class="f6 black-60">What's on your mind?</small>
	</div>
	<br />
	<div class="g-recaptcha" data-sitekey="contact.recaptcha"></div>
	<br />
	<div class="mt3">
		<input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Send 📨">
	</div>
</form>
{% endblock %}
