{% extends 'base.html' %}

{% block title %}things i made{% endblock %}

{% block nav %}#{% endblock %}
{% block home %}[ home ]{% endblock %}

{% block content %}
<div class="f6 ph5 pv6 black-70">
	<p>Psst, hey you?</p>

	<p>Yeah, you! I got some stuff on this here website you can check out</p>

	<p>Like writing? I've got a <a href="/blog">blog</a>. Videogames? I wrote some <a href="/reviews">reviews</a> years back. Fans of cool dashboards might like my <a href="/stats">stats</a> page. This whole thing is basically just a playground rather than a portfolio.</p>

	<p>You can also see exactly how it's made <a href="https://github.com/marcus-crane/site">here</a> on Github!</p>

	<p>What, did you expect 10MB+ of Javascript spaghetti? Heck no, this site has been put together with love :)</p>

	<p>Care is another story since some of the internals are a bit messy *cough* but it works so...</p>

	<p>Enjoy!</p>
</div>
{% endblock %}