{% extends 'shared/base.html' %}

{% block title %}{{ post.title }} | utf9k{% endblock %}

{% block nav %}utf9k{% endblock %}
{% block blog %}[ blog ]{% endblock %}

{% block content %}
<div class="container col-6 col-9-md col-11-sm pushback">
  <div class="columns">
    <div class="column">
      <h1 {% if not post.sfw %}class="d-inline-block"{% endif %}>{{ post.title }}</h1>
      {% if not post.sfw %}<sup class="nsfw">nsfw</sup>{% endif %}
      <time class="d-block">
        {% if post.status == "P" %}
          {{ post.published_at }}
        {% elif post.date != "P" and post.date != None %}
          {{ post.get_status_display }} | {{ post.created_at }}
        {% else %}
          {{ post.get_status_display }}
        {% endif %}
      </time>
      <div class="mt-2">
        {{ post.render|safe }}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% if post.head %}
  {% block head %}
    {{ post.head|safe }}
  {% endblock %}
{% endif %}

{% if post.foot %}
  {% block foot %}
    {{ post.foot|safe }}
  {% endblock %}
{% endif %}